<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>medical</title>

</head>

<body>

    <div class="login-container">
        <div class="login-card">
            <label>Inscription</label>
            <form  class="login-form" 
                (ngSubmit)="Submit()"

                >

                <input type="text"  name="username" placeholder="nom d'utilisateur" 
                     [value]="user.username">
                
                <input type="email"  name="email" placeholder="email"    
                [value]="user.email">

                <input type="password"  name="Password" placeholder="password"   
                    controlname="password" [value]="user.password">
                
                <input type="text"  name="firstName" placeholder="Nom"    
                [value]="user.firstName">

                <input type="text"  name="lastName" placeholder="Prenom"    
                [value]="user.lastName">

                <select id="gender" name="gender" [value]="user.gender" placeholder="Sexe" >
                        <option  selected >Sexe</option>
                        <option value="8 AM TO 10AM">Masculin</option>
                        <option value="10 AM TO 12PM">Feminin</option>
                </select> 

                <div class="login-buttons">
                    <button type="submit" class="login-button" ><a href="connex" class="login-button">Login</a></button>
                    <button type="submit" class="register-button"  >Register</button>
                </div>
            </form>
        </div>
    </div>


</body>

</html>