<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Register</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="./assets\img\logo.png" alt="Login Icon">
        </div>
        <div class="login-container">
            <h2>Inscription</h2>
            <form class="login-form" [formGroup]="registerForm" (ngSubmit)="Register()">
                <input type="text" class="input-field" name="username" placeholder="Nom d'utilisateur" formControlName="username">
                <input type="email" class="input-field" placeholder="Email" formControlName="email">
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                    <small style="color: red;">Veuillez entrer un email valide.</small>
                </div>
                <input type="password" class="input-field" name="password" placeholder="Mot de passe" formControlName="password">
                <input type="password" class="input-field" name="confirmPassword" placeholder="Confirmation du mot de passe" formControlName="confirmPassword">
                <select id="gender" name="gender" class="input-field" formControlName="gender">
                    <option selected disabled>Sexe</option>
                    <option value="Masculin">Masculin</option>
                    <option value="Feminin">Féminin</option>
                </select>
               
                <div class="login-buttons">
                    <button type="submit" class="register-button">S'inscrire</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>