<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>medical</title>

</head>

<body>

    <!-- Header part end-->
<app-header></app-header>
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Votre Santé Entre Vos Mains </h1>
                            <h4>Votre partenaire numérique de santé. 
                                Plateforme innovante qui facilite le suivi médical rapide et
                                 efficace des patients, offrant aux médecins des diagnostics 
                                 précis et accessibles 24h/24, 7j/7</h4>

                            <a href="connex" class="btn_2">Patient</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="assets/img/banner_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- about us part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="about_us_img">
                        <!--Image a changer -->
                        <img src="assets/img/   " alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <h4>A propos de nous </h4>
                        <p>Medico est une solution de santé numerique , mettant l'accent sur 
                            le bien-etre des patients.Notre plateforme offre aux aux medecins les outils
                            nécessaires pour prodiguer des soins exceptionnels,poser des diagnostics precis et intervenir rapidement.
                            Elle permet egalement aux patients d'accéder facilement à leurs informations medicales, de revoir des soins personnalisé et de
                                beneficier d'un suivi
                            
                        </p>

                        <a class="btn_2 " href="#">Plus</a>
                        <!-- <div class="banner_item">
                            <div class="single_item">
                                <img src="assets/img/icon/banner_1.svg" alt="">
                                <h5>Urgence</h5>
                            </div>
                            <div class="single_item">
                                <img src="assets/img/icon/banner_2.svg" alt="">
                                <h5>Prise de rendez-vous </h5>
                            </div>
                            <div class="single_item">
                                <img src="assets/img/icon/banner_3.svg" alt="">
                                <h5>Compétent</h5>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about us part end-->

    <!-- feature_part start-->
    <section class="feature_part single_feature_page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-5">
                    <div class="section_tittle text-center blue">
                        <h4>Nos Service</h4>
                    </div>
                    <div class="text-center fs-3 fw-bold">
                        <h1>Nos Services qui repondent à vos besoins quotidiens</h1>
                    </div>
                    
                </div>
                
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="assets/fonts/phone.svg" alt=""></span>
                            <h4>Téléconsultation</h4>
                            <p> Depuis vos terminaux, Prenez rendez-vous et consultez en toute sécurité avec nos praticiens disponibles en ligne...</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="assets/fonts/medical.svg" alt=""></span>
                            <h4>Dossier Médical Partagé</h4>
                            <p>Toutes les informations de santé d'un patient sont contenues dans un dossier sécurisé. Il...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="single_feature_img">
                        <img src="assets/img/service.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="assets/fonts/notification.svg" alt=""></span>
                            <h4>Alertes médicamenteuses</h4>
                            <p>Medico vous envoie des alertes ou notifications pour ne pas rater vos heures de traitements et les dosages...</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="assets/img/icon/feature_2.svg" alt=""></span>
                            <h4>Rhumatologie</h4>
                            <p>Service qui traite les maladies des articulations, des os, des muscles et des tissus
                                mous, comme l'arthrite, l'ostéoporose et les maladies auto-immunes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_part start-->


    <!--::regervation_part start::-->
<div>
     <section class="regervation_part section_padding">
        <div class="container">
            <div class="row align-items-center regervation_content">
                <div class="col-lg-7">
                    
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="reservation_img">
                        <img src="assets/img/" alt="" class="reservation_img_iner">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
   
    <!--::regervation_part end::-->

    <!-- ::blog_part start:: -->
    <!-- <section class="blog_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2>Notre Blogs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="assets/img/blog/blog_2.png" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="blog.html">
                                    <h5 class="card-title">First cattle which earth unto let health for
                                        can get and see what you </h5>
                                </a>
                                <ul>
                                    <li> <span class="ti-user"></span>Jhon mike</li>
                                    <li> <span class="ti-bookmark"></span>Clinic, doctors</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="single-home-blog">
                        <div class="card">
                            <img src="assets/img/blog/blog_3.png" class="card-img-top" alt="blog">
                            <div class="card-body">
                                <a href="blog.html">
                                    <h5 class="card-title">First cattle which earth unto let health for
                                        can get and see what you </h5>
                                </a>
                                <ul>
                                    <li> <span class="ti-user"></span>Jhon mike</li>
                                    <li> <span class="ti-bookmark"></span>Clinic, doctors</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- breadcrumb start-->

<div>
    
</div>
     <app-footer></app-footer>

</body>

</html>